/* Color Palette */
:root {
  --main-color: #006937;
}


/* Flex */
.flex {
  display: flex;
}


.justify-center {
  justify-content: center;
}


/* Margin */
.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

